<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data List</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .rounded-row {
            border-radius: 10px; /* 可以根据需要调整圆角的大小 */
        }

        .custom-table {
            width: 100%; /* 设置表格宽度为100% */
            overflow-x: hidden; /* 禁用水平滚动条 */
        }

        .custom-table th, .custom-table td {
            white-space: nowrap; /* 防止列名和数据换行 */
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>Data List</h1>
    <div class="table-responsive">
        <table class="table table-striped custom-table">
            <thead>
            <tr>
                <th>CPU Serial</th>
                <th>IP Info</th>
                <th>Version</th>
                <th>Password</th>
                <th>Available Time</th>
                <th>Build Time</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${dataList}" class="rounded-row">
                <td th:text="${data.cpuSerial}"></td>
                <td th:text="${data.ipInfo}"></td>
                <td th:text="${data.version}"></td>
                <td th:text="${data.password}"></td>
                <td th:text="${data.availableTime}"></td>
                <td th:text="${#dates.format(data.buildTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(data.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(data.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <div class="dropdown show">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>&#8942;</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item btn btn-primary">发送消息</button>
                            <button class="dropdown-item btn btn-danger">下线</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 引入Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>